/* start main rules */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #2f5cf0;
  --secodary-color: #002351;
  --threid-color: #bbbbbb;
  --four-color: #000018;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/background2.jpeg);
  background-position: bottom;
  background-size: contain;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 100px 180px;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background-color: var(--secodary-color);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(202, 202, 202, 20%);
  height: 60px;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(202, 202, 202, 100%);
}

.up {
  width: 60px;
  height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 4px;
  margin-bottom: 20px;
  margin-right: -60px;
  border-radius: 5px;
  transition: 0.3s;
}

.up:hover {
  color: var(--main-color);
}

.show {
  margin-right: -10px !important;
}

.color {
  color: var(--four-color);
}

/* end main rules */

/* start header */

header {
  background-color: #f0f0f0;
  max-height: 61px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: centers;
  padding: 9px 180px;
}

header .logo {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 1.8em;
  font-weight: 700;
}

header .logo span {
  color: var(--threid-color);
  font-size: 0.6em;
}

header .navbar a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1em;
  font-weight: 500;
  padding: 0 6.5px 5px 6.5px;
  transition: 0.2s ease;
}

header .navbar a:hover {
  color: var(--threid-color);
}

.nav-icon {
  color: var(--main-color);
  font-size: 1.6em;
  transition: 0.3s ease;
  display: none;
}

.nav-icon:hover {
  color: var(--threid-color);
}

/* end header */

/* start main */

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/background1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 767px) {
  .main {
    background: url(../images/background2.jpeg);
  }
}

.main .main-content {
  padding-top: 70px;
}

.main h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 500;
}

.main h2 span {
  display: inline-block;
  margin-top: 2px;
  color: var(--main-color);
  font-size: 2.8em;
  font-weight: 700;
}

.main h3 {
  color: #ffffff;
  font-size: 1.7em;
  font-weight: 500;
  line-height: 1px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.main .main-btn {
  text-decoration: none;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: 0.7s ease;
}

.main .main-btn:hover {
  background-color: #2040aa;
  transform: scale(1.1);
  box-shadow: 0 5px 25px rgba(1 1 1 / 90%);
}

.social-icons {
  margin-left: 5px;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.7em;
  padding-right: 20px;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #c2c2c2;
}

/*end main*/

/* start educations */

#educations {
  background-color: #ffffff;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2.2em;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 100px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: raw;
  flex-wrap: wrap;
}

.content .card {
  background-color: #ffffff;
  width: 30.5%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  padding: 25px;
  margin: 15px;
  transition: 0.7s ease;
}

.content .card:hover {
  transform: scale(1.1);
}

.content .card .icon {
  color: var(--main-color);
  font-size: 8em;
  text-align: center;
}

.content .card .info {
  text-align: center;
}

.content .card .info h3 {
  color: var(--main-color);
  font-size: 1.2em;
  font-weight: 700;
  margin: 9px;
}

/* end educations */

/* start achivements */

.achivements {
  background-color: #ffffff00;
}

.achivements .content {
  margin-top: 30px;
}

.achivements .achivements-card {
  background-color: #ffffff;
  border: 1px solid #fff;
  min-height: 13em;
  width: 29%;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px;
  transition: 0.7s ease;
}

.achivements-card:hover {
  box-shadow: 0 1px 10px var(--threid-color);
  transform: scale(1.1);
}

.achivements-card:hover .achivements-image {
  opacity: 90%;
}

.achivements-card .achivements-image img {
  width: 100%;
}

.achivements-card .achivements-info {
  padding: 0.8em;
}

.achivements-info .achivements-catogery {
  font-size: 0.9em;
}

.achivements-info .achivements-title {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
}

.achivements-info .achivements-title a {
  color: var(--main-color);
  text-decoration: none;
  transition: 0.1s ease;
}

.achivements-info .achivements-title a:hover {
  color: var(--threid-color);
}

/* end achivements */

/* start contact */

.contact {
  background-color: #ffffff;
}

.contact .title {
  margin-bottom: 60px;
}

.contact .icon {
  font-size: 4.5em;
}

.contact p {
  font-size: 1em;
  font-weight: 600;
}

/* end contact */

/* start footer */

.footer {
  background-color: var(--four-color);
  color: #ffffff;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-title {
  font-size: 1.1em;
}

.footer span {
  color: var(--main-color);
  font-weight: 700;
}

.footer .social-icons {
  margin-right: 30px;
}

.footer .social-icons a {
  font-size: 1.2em;
  padding-right: 9px;
}

/* end footer */

/* start @media */

@media (max-width: 1419px) {
  .up {
    display: none;
  }
}

@media (max-width: 1150px) {
  section {
    padding: 50px 80px;
  }
}

@media (max-width: 1050px) {
  header {
    padding: 9px 80px;
  }
}

@media (max-width: 900px) {
  section {
    padding: 30px;
  }

  .content .card {
    width: 40%;
  }

  .content .achivements-card {
    width: 40%;
  }
}

@media (max-width: 800px) {
  header {
    padding: 7px 30px;
  }

  .card .icon {
    font-size: 5em;
  }

  .contact .title {
    text-align: center;
  }
}

@media (max-width: 750px) {
  header .navbar a {
    padding: 5px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .content .card {
    width: 60%;
  }

  .content .achivements-card {
    width: 60%;
  }
}

@media (max-width: 580px) {
  body {
    font-size: 13px;
  }

  header {
    padding: 7px 20px;
  }

  .logo span {
    display: none;
  }

  section {
    padding: 20px;
  }

  .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 421px) {
  header {
    padding: 7px 10px;
  }

  .content .card {
    width: 80%;
  }

  .content .achivements-card {
    width: 80%;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 10px;
  }

  .main-content span {
    line-height: 1.5em;
  }
}

/* end @media */
